body{
    background-color: wheat;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Lucida Grande, Arial, sans-serif;
    font-size: 200px;
}
button.rot{
    width: 1000px; height: 500px;
    cursor: pointer;
    background-image: url(https://i.pinimg.com/736x/50/8a/d4/508ad4f13c5624fd806370eec9dbd759.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 120px;
    border-radius: 20px;
}
button.blau{
    width: 1000px; height: 500px;
    cursor: pointer;
    background-image: url(https://i.pinimg.com/736x/e5/c5/83/e5c583bb4d35ed503a2f405da3a0d3c0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 120px;
    border-radius: 20px;
}
button.grün{
    width: 1000px; height: 500px;
    cursor: pointer;
    background-image: url(https://i.pinimg.com/736x/09/f7/74/09f774cf73f1678c5d4981a565d2ed5a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 120px;
    border-radius: 20px;
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}